nav {
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.navbar .menu {
  display: block;
}

.navbar .logo {
  z-index: 1;
}

.navbar .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  list-style: none;
}

.navbar .menu__list-item {
  margin-left: 30px;
  position: relative;
}

.navbar .menu__list-item:hover:after {
  width: 100%;
  -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
  -o-transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
}

.navbar .menu__list-item:after {
  content: " ";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: white;
}

.navbar .menu__list-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.navbar .burger {
  display: none;
  cursor: pointer;
}

.navbar .menu__list.active {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(12, 12, 12, 0.863);
  z-index: 30;
  margin: 0;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 170px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 100px;
}

header .header__item.canvas__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__item.canvas__item picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__item.canvas__item img {
  width: 100%;
}

header .header .title {
  padding-top: 190px;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 116%;
  color: #ffffff;
}

header .header .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 137%;
  color: #ffffff;
  margin-top: 15px;
}

header .header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 420px;
  width: 100%;
  margin-top: 50px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

header .header .info__item {
  padding: 2px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 150%;
  color: #ffffff;
  height: 36px;
  background: #1378ef;
  border-radius: 64px;
}

.section__about {
  padding-top: 150px;
}

.section__about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__about .about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  margin: 45px 0;
}

.section__about .about__item .about__num {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 170%;
  color: #ffffff;
  position: relative;
}

.section__about .about__item .about__num:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 71px;
  background: #ffffff;
}

.section__about .about__item .about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  margin-top: 20px;
}

.section__projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs {
  width: 100%;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__header-item {
  margin: 30px 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.59);
}

.tabs__header-item:hover {
  color: white;
  -webkit-transition: 0.3s all easy;
  -o-transition: 0.3s all easy;
  transition: 0.3s all easy;
}

.tabs__header-item.active-btn {
  color: white;
}

.tabs__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 75px;
}

.tabs__content-item {
  display: none;
  width: 100%;
}

.tabs__content-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__content-item .tab__content.left__content {
  width: 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: #ffffff;
}

.tabs__content-item .tab__content.right__content {
  width: 60%;
}

.accordion {
  z-index: 1;
}

.accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.accordion .accordion__item .accordion__item-trigger .trigger__img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  margin-left: auto;
}

.accordion .accordion__item .accordion__item-trigger .trigger__img img {
  display: block;
}

.accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: #ffffff;
}

.accordion .accordion__item .accordion__item-trigger:first-child {
  padding: 0 0 20px 0;
}

.accordion .accordion__item .accordion__item-content {
  display: none;
  -webkit-animation: fade 0.3s easy;
          animation: fade 0.3s easy;
}

.accordion .accordion__item .accordion__item-content .content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion .accordion__item .accordion__item-content .content__text:first-child {
  margin-top: 0;
}

.accordion .accordion__item.accordion__item-active .trigger__text {
  color: #1378ef;
}

.accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion .accordion__item.accordion__item-active .trigger__img img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 1s all easy;
  -o-transition: 1s all easy;
  transition: 1s all easy;
}

.section__contact .contact {
  max-width: 668px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section__contact .contact .contact__title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.section__contact .contact .contact__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  width: 260px;
  height: 260px;
  background: #1378EF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: -118px;
  text-decoration: none;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal__wrapper .modal {
  padding: 20px;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  background: #1f1f1f;
  position: relative;
}

.modal__wrapper .modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.modal__wrapper .modal__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__wrapper .modal__body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__wrapper .modal__body .form input {
  margin-top: 35px;
  background: none;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px solId #ffffff;
  padding: 5px 0;
}

.modal__wrapper .modal__body .form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form textarea {
  resize: none;
  min-height: 75px;
  margin-top: 20px;
  color: white;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solId #ffffff;
  padding: 5px 0;
}

.modal__wrapper .modal__body .form textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.modal__wrapper .modal__body .form .modal__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  background: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  z-index: 2;
}

.section__reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__reviews .container .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.section__reviews .container .reviews .arrows {
  position: absolute;
  bottom: 75px;
  right: 250px;
}

.section__reviews .container .reviews .arrows .arrow__btn {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1378ef;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.section__reviews .container .reviews .arrows .arrow__btn picture .prev__arrow {
  margin-left: -15px;
}

.section__reviews .container .reviews .arrows .arrow__btn picture .next__arrow {
  margin-left: 40px;
}

.section__reviews .container .reviews .arrows .arrow__btn:hover .prev__arrow {
  margin-left: 20px;
  -webkit-transition: 0.3s all easy;
  -o-transition: 0.3s all easy;
  transition: 0.3s all easy;
}

.section__reviews .container .reviews .arrows .arrow__btn:hover .next__arrow {
  margin-left: 8px;
  -webkit-transition: 0.3s all easy;
  -o-transition: 0.3s all easy;
  transition: 0.3s all easy;
}

.section__reviews .container .reviews .swiper {
  max-width: 860px;
  margin: 0;
}

.section__reviews .container .reviews .swiper .swiper-slide {
  background: rgba(24, 24, 24, 0.59);
  padding: 35px 25px;
}

.section__reviews .container .reviews .swiper .swiper-slide .slide__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__reviews .container .reviews .swiper .swiper-slide .slide__title {
  text-align: center;
  margin-top: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  color: #ffffff;
}

.section__reviews .container .reviews .swiper .swiper-slide .slide__text {
  text-align: center;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer {
  background: #121212 url("../img/footer__bg.png") left 50px no-repeat;
  padding: 70px 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__item {
  margin-left: auto;
  max-width: 650px;
  width: 100%;
  margin-right: 100px;
}

footer .footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .form__title {
  max-width: 550px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 55px;
  color: #ffffff;
}

footer .footer .form__subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__input {
  margin-top: 20px;
  background: none;
  outline: none;
  border: none;
  color: white;
  border-bottom: 1px solId #ffffff;
  padding: 5px 0 20px 0;
}

footer .footer .form .form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

footer .footer .form .form__textarea {
  resize: none;
  min-height: 100px;
  margin-top: 20px;
  color: white;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solId #ffffff;
  padding: 5px 0;
}

footer .footer .form .form__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

footer .footer .form .form__textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

footer .footer .form .form__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

footer .footer .form .form__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

footer .footer .form .form__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

footer .footer .form .form__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  background: none;
  outline: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 80px;
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

body {
  background: #252525;
}

body .overlay {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  position: relative;
  overflow: hidden;
}

body .overlay:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 1px;
  background: #383838;
  right: 33%;
  z-index: -1;
}

body .overlay:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 1px;
  background: #383838;
  left: 33%;
  z-index: -1;
}

.container {
  max-width: 1300pxpx;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  padding: 75px 0;
}

.section__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #ffffff;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #ffffff;
  margin-top: 15px;
}

.cursor {
  position: fixed;
  background: #1378EF;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 11111;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
}

.cursor.active {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  border: 1px solid #1378EF;
  z-index: 11111;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.follower.active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background: #1378EF;
  z-index: 0;
}

@media (max-width: 1300px) {
  body .overlay {
    border-left: 2px solid #383838;
    border-right: 2px solid #383838;
  }
}

@media (max-width: 1240px) {
  .section__reviews .container .reviews .arrows {
    right: 30px;
  }
}

@media (max-width: 1030px) {
  header .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  header .header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-bottom: 50px;
  }

  header .header__item.canvas__item {
    margin-top: 20px;
  }

  header .header .title {
    padding-top: 25px;
    text-align: center;
    font-size: 62px;
  }

  header .header .subtitle {
    text-align: center;
    font-size: 22px;
  }

  header .header .info {
    text-align: center;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 990px) {
  .section__reviews .container .reviews {
    margin-top: 50px;
  }

  .section__reviews .container .reviews .arrows {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 860px) {
  footer {
    background-size: cover;
    background-position: center;
  }

  footer .footer__item {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(18, 18, 18, 0.5);
    padding: 0 20px;
  }

  footer .footer .form__title {
    max-width: 100%;
    text-align: center;
    font-size: 28px;
  }

  footer .footer .form__subtitle {
    max-width: 100%;
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .section__about {
    padding: 25px;
  }

  .section__about .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-right: 10px;
    margin: 25px 0;
  }

  .tabs__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px 0;
  }

  .tabs__content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__content-item .tab__content.left__content {
    width: 100%;
    text-align: center;
  }

  .tabs__content-item .tab__content.right__content {
    width: 100%;
  }

  .section__contact .contact .contact__title {
    font-size: 36px;
    line-height: 40px;
  }

  footer .footer .form .form__btn {
    margin-left: auto;
    margin-right: auto;
  }

  section {
    padding: 25px 0;
  }

  .section__title {
    font-size: 30px;
  }
}

@media (max-width: 768) {
  body .overlay {
    padding: 0 10px;
  }

  body .overlay {
    padding: 0 3px;
  }
}

@media screen and (max-width: 750px) {
  .navbar .burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 40px;
    height: 10px;
    cursor: pointer;
    z-index: 32;
  }

  .navbar .burger span,
  .navbar .burger span:before,
  .navbar .burger span:after {
    width: 100%;
    position: absolute;
    height: 5px;
    background: white;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
  }

  .navbar .burger span:before {
    content: "";
    top: -20px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar .burger span {
    top: 20px;
  }

  .navbar .burger span:after {
    content: "";
    bottom: -20px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar .burger span.active:before {
    content: "";
    top: 0px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar .burger span.active:after {
    content: "";
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar .burger span.active {
    background: rgba(255, 255, 255, 0);
  }

  .navbar .menu__list {
    position: absolute;
    top: -100%;
  }

  .navbar .menu__list-item {
    margin-right: 0;
  }

  .navbar .menu__list-item a {
    font-size: 36px !important;
  }
}

@media screen and (max-width: 750px) and (max-width: 420px) {
  .navbar .burger {
    width: 35px;
  }

  .navbar .burger span:before {
    top: -10px;
  }

  .navbar .burger span:after {
    bottom: -10px;
  }
}

@media screen and (max-width: 750px) and (max-width: 350px) {
  .navbar .burger {
    top: 37px;
  }
}

@media (max-width: 650px) {
  header .header__item.canvas__item canvas {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .section__about {
    padding: 10px;
  }

  .section__about .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .section__about .about__item .about__num:after {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .section__contact .contact .contact__title {
    font-size: 28px;
    line-height: 40px;
  }

  .section__subtitle {
    text-align: center;
    padding-top: 50px;
  }

  .section__title {
    font-size: 27px;
    text-align: center;
  }
}

@media (max-width: 435px) {
  header .header__item.canvas__item canvas {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 370px) {
  header .header__item {
    padding-top: 40px;
    padding-bottom: 0;
  }

  header .header .title {
    padding-top: 15px;
    font-size: 33px;
  }

  header .header .subtitle {
    font-size: 19px;
  }

  body .overlay {
    padding: 0 3px;
  }
}

@media (max-width: 350px) {
  .navbar .logo img {
    width: 75%;
  }

  .navbar .menu__list-item {
    margin-left: 0;
  }

  .section__contact .contact .contact__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 330px) {
  .section__contact .contact .contact__btn {
    width: 200px;
    height: 200px;
    margin-top: -90px;
  }
}

@media (max-width: 300px) {
  .tabs__header-item {
    text-align: center;
  }
}
@supports (-webkit-appearance:none){
footer{background:#121212 url("../img/footer__bg.webp") left 50px no-repeat}
}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1030px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 990px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 750px) and (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 750px) and (max-width: 350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 435px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 370px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 330px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 300px){

@supports (-webkit-appearance:none){

}

}
